
.container i,a {
  font-size: 32px;
  margin-top: 5px;
  color: #fff
}

.navbar-nav > .active > a {
  color: #424242;
  background: #FFF;
  border-radius: 15px;
}
.navbar-nav a{
  border-radius: 10px;
  transition: 300ms ease-in-out;
}

.navbar-nav :hover{
  color: #424242;
  background: #FFF;
  border-radius: 15px;
  scale: 1.025;
}

.bg{
  background: #424242;
}
