
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 10px;
}

.full-screen-modal{
  max-width: 100vw!important
}
